html, body {
  font-size: calc(15px + 0.390625vw);
  margin: 0;
  background: gray;
  color: #212529;
  scroll-behavior: smooth;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

section {
  margin: 15px;
}

#container {
  width: min(70%, 1400px);
  margin-inline: auto;
  border-radius: 25px;
  padding: 30px; 
  background: white;
  box-shadow: 0 0 10px 5px white, 0 0 10px 5px white;
}

.nobull {
  list-style-type: none;
  padding: 0;
}

.caption {
  font-size: 0.67em;
  margin-bottom: 5px;
}

.centre {
  display: flex;
  justify-content: center;
}

.parallax {
  background-image: url("hobart.png");
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1511px) {
  .parallax {
    background-size: 100%;
  }
}

.tag {
  margin: -20px 0 0 0;
}

.cover {
  position:relative;
  padding-top: 56.25%;
  margin-bottom: 20px;
}

.profile-list {
  padding: 45px 0 0 20px;
}

.profile-image {
  padding: 20px 20px 0 0;
}

.profile-image img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  transition: all .3s ease-out;
  box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 40%);
}

.profile-image a:hover img {
  transform: scale(1.06, 1.06);
}

.job-image img {
  max-width: 100%;
  transition: all .3s ease-out;
  box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 40%);
}

.job-image a:hover img {
  transform: scale(1.01, 1.01);
}

.cover-overlay {
  position:absolute;
  top:25%;
  bottom:0;
  left:0;
  right:0;
}

.cover-overlay p,
.cover-overlay a,
.cover-overlay h1,
.cover-overlay li {
  color: white;
}

.bounce {
  padding-top: 50px;
  animation-name: MoveUpDown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    animation-timing-function: ease-in;
    transform: translateY(20px);
  }
  50% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}